body {
  background-color: transparent;
}

.home {
  background-image: url('./assets/testbg.jpg');
  height: 100%;
  width: 100%;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.login {
  background: white;
  height: 300px;
  width: 500px;
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 45%;
  left: 0;
  background: rgba(0, 0, 0, 0.1); 
  color: white;
  text-shadow: 1px 1px black;
  word-spacing: 10px;
}

.loginfield {
  width: 50%;
  padding: 5px;
  margin-bottom: 13px;
}

.error {
  text-align: center;
  position: absolute;
  margin: auto;
  top: 25%;
  right: 0;
  bottom: 0;
  left: 0;
}

.userprofilepage {
  background-image: url('./assets/globebg.jpg');
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}

.profilecont {
  background-image: url('./assets/profilepolaroid.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 75%;
  margin-left: 12%;
  margin-top: 10%;
}

.tripform {
  width: 28%;
  float: left;
  background-color: rgba(0, 0, 0, 0.82); 
  color: white;
  font-size: 25px;
  height: 100vh;
  border-radius: 15px;
  margin-left: 2%;
}

.triplist {
  position: absolute;
  margin-left: 38%;
  margin-top: 5%;
  float: right;
  width: 65%;
  height: 74%;
  background-image: url('./assets/corkboard.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.triplistinner {
  position: relative;
  background-image: transparent;
  background-repeat: no-repeat;
  margin-top: 2.7%;
  margin-left: 4%;
  width: 92%;
  height: 92.2%;
  overflow-y: auto;
}

.tripformfield {
  width: 60%;
  height: 25px;
  float: right;
  margin-right: 21%;
}

.tripformtitle {
  margin-top: 5%;
  height: 50px;
  text-align: center;
}

.photocard {
  position: relative;
  background-image: url('./assets/polaroid.png');
  background-repeat: no-repeat;
  height: 40vh;
  width: 36vh;
  margin-top: 0;
  margin-left: 0;
  float:left;
}

.tripcard {
  position: relative;
  border: 0.5px solid;
  text-align: center;
  float:left;
  margin: auto;
  width: 23vh;
  height: 22.8vh;
  -ms-transform: rotate(-1.2deg); /* IE 9 */
  -webkit-transform: rotate(-1.2deg); /* Safari */
  transform: rotate(-1.2deg); /* Standard syntax */
  margin-top: 45px;
  margin-left: 29px;
  background-size: cover;
  background-repeat: no-repeat;
}

.tripmain {
  background-image: url('./assets/planner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.expensedash {
  width: 100%;
  height: 25vh;
}

.memberlist {
  height: 35vh;
  overflow-y: auto;
  width: 70%;
}

.membercard {
  width: 45%;
  height: 25%;
  float: left;
  margin-top: 25px;
}

.newUserFormOutter {
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5); 
}

.newUserFormInner {
  position: absolute;  
  left: 33%;  
  right: 33%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20px;  
  background: white; 
}

.cancelBtn {
  margin-right: 1%;
  margin-top: 1%;
  float: right;
  font-weight: bolder;
  background-color: transparent;
  border-color: transparent;
}

.cancelBtn:hover {
  border-color: blue;
}

.itineraryCont {
  background-color: transparent;
  height: 100vh;
  width: 30%;
  float: left;
}

.itineraryItemForm {
  position: absolute;
  width: 35%;
  background: white; 
}

.itinerarycard {
  background-color: blue;
  margin-top: 10px;
  width: 95%;
  height: 15%;
  margin-left: 2.5%;
}

.messageBoard {
  background-color: transparent;
  height: 100vh;
  width: 30%;
  float: left;
}

.yelpcont {
  background-color: transparent;
  height: 100vh;
  width: 30%;
  float: left;
}

.hoverbutton {
  background-color: transparent;
  border-color: transparent;
  
}

.hoverbutton:hover {
  background-color: beige;
}